{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Recherchez un déchet</h1>
    <form method="POST" action="{{ url_for('search') }}">
      <div class="form-group">
        <label for="search-term">Entrez un terme de recherche :</label>
        <input type="text" class="form-control" id="search-term" name="search_term" placeholder="Ex. bouteille en plastique" required>
      </div>
      <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>
  </div>
{% endblock %}
