<!DOCTYPE html>
<html>
    <head>
        <title>Ekoroji</title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styleinformer.css">
    </head>
    <body>
        <h1>S'INFORMER</h1><br><br>
            <ul id="article">
                <li class="nav-items"><a href="">L'avenir de mes déchets</a></li>
                <p>kbhfyfgy</p>
            </ul>
            <ul id="article">  
                <li class="nav-items"><a href="">Comment reduire mes déchets ?</a></li><!--liens vers les autres pages-->
                <p>ghdytjdyhgiydfvytryfvfv  gtuy  khfts'  hkidk </p>
                
            </ul>
        <footer>
            <nav>
                <ul>
                    <li class="nav-items"><a href="index.html">S'informer</a></li>
                    <li class="nav-items"><a href="explorer.html">Explorer</a></li>
                    <li class="nav-items"><a href="messcans.html">Mes scans</a></li><!--liens vers les autres pages-->
                </ul>
            </nav>
        </footer>
    </body>
</html>
