<!DOCTYPE html>
<html>
    <head>
        <title>Ekoroji</title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="stylemesscans.css">
    </head>
    <body>
        <h1>MES SCANS</h1><br><br>
         
        <footer>
            <nav>
                <ul>
                    <li class="nav-items"><a href="index.html">S'informer</a></li>
                    <li class="nav-items"><a href="explorer.html">Explorer</a></li>
                    <li class="nav-items"><a href="messcans.html">Mes scans</a></li><!--liens vers les autres pages-->
                </ul>
            </nav>
        </footer>
    </body>
</html>