{% extends 'populaire.html' %}

{% block content %}
    <h1>{% block title %}{% endblock %}</h1>
    {% for post in posts %}
        <a href="#"style="text-decoration: none;color: #000000 ;margin-left: 30px;"><strong> {% block subtitle %}{% endblock %} </strong></a>
        <p style="float:right">{{ post[ 'img'] }}</p>
        <p style="color: #474744">{{ post[ 'description'] }}</p>
        <div style="clear:both"></div>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}