@font-face {
  font-family: 'BeBas Neue';
  src: url('/assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
}

body {
  background-color: #C3E6A1;
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  /*tout les h1 concernée et les propriétés les concernant*/
  text-align: center;
  margin: 52px;
  font-family: 'Bebas Neue';
  font-weight: 1000;
  font-size: 117px;
  line-height: 133px;
}

p {
  margin-left: 3rem;
}

.container {
  width: 600px;
  margin: 0 auto 60px auto;
  /* Ajout d'une marge en bas de 60px pour éviter que le footer ne superpose le bas du .container */
  font-family: sans-serif;
  font-size: 100;
}

body>footer {
  /* Le footer est positionné en fixed en bas de page, et ses bords collent à l'extrême gauche et l'extrême droite de la page */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #446127;
  border-top: 1px solid gray;
}

body>footer>nav>ul {
  margin: 50px;
  padding: 0;
  list-style: none;
  text-align: center;
  /* Cela va aligner les éléments du menu au centre (vu qu'ils sont en 'inline-block') */
}

body>footer>nav>ul>li {
  display: inline-block;
}

body>footer>nav>ul>li>a:link,
body>footer>nav>ul>li>a:visited {
  display: block;
  padding: 1rem;
  color: #C3E6A1;
  font-family: sans-serif;
  font-size: 55px;
  text-decoration: none;
  /* Ajout de bordures à gauche et à droite de chaque élément de menu (pour simuler les lignes de séparation) */

}

body>footer>nav>ul>li>a:hover,
body>footer>nav>ul>li>a:active,
body>footer>nav>ul>li>a:focus {
  background-color: black;
}

/* Suppression des bordures à gauche pour le 1er élément et à droite pour le dernier élément de menu. */
body>footer>nav>ul>li:first-child>a {
  border-left: none;
}

body>footer>nav>ul>li:last-child>a {
  border-right: none;
}

#scans {
  /*les cadres des scans qui mene vers la base de données ainsi que leur propriété*/

  text-decoration-color: black;
  background-color: #F1EFE9;
  border-radius: 75px;
  font-size: 50px;
  font-family: 'Roboto';
  filter: drop-shadow(8px 8px 10px #474744);
  Width: 850px;
  Height: 330px;
  margin-top: 115px;
  margin-left: 50px;
  margin-right: 50px;

}

img {
  /*image dans les scans*/
  background-color: #F1EFE9;
  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
  Width: 200px;
  Height: 200px;
  border-radius: 75px;
  margin-top: 0px;
}

svg {
  color: #C3E6A1;
  padding: 4px;
  Width: 140px;
  Height: 140px;
  Top: 61px;
  Left: 165px;
  background-position-x: left;
  background-position-y: center;
  margin: auto;

}