@font-face {
	font-family: 'Bebas Neue';
	src: url(‘/fonts/BenasNeue-Regular.ttf’) format(‘truetype’)
}


body {
    background-color : #C3E6A1;
    }
h1{
    text-align: center;
    margin: 52px ;
    font-family:'Segoe UI Black';
	  font-weight: 1000;
	  font-size: 138px;
    line-height: 133px;

}

p{
    font-size: 45px;
}

.container {
    width: 600px;
    margin: 0 auto 60px auto; /* Ajout d'une marge en bas de 60px pour éviter que le footer ne superpose le bas du .container */
    font-family: sans-serif;
    font-size: 100px;
  }
  
  body > footer {
    /* Le footer est positionné en fixed en bas de page, et ses bords collent à l'extrême gauche et l'extrême droite de la page */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: #446127;
    border-top: 1px solid gray;
  }
  
  body > footer > nav > ul {
    margin: 50px;
    padding: 0;
    list-style: none;
    text-align: center; /* Cela va aligner les éléments du menu au centre (vu qu'ils sont en 'inline-block') */
  }
  
  body > footer > nav > ul > li {
    display: inline-block;
  }
  
  body > footer > nav > ul > li > a:link,
  body > footer > nav > ul > li > a:visited
  {
    display: block;
    padding: 1rem;
    color: #C3E6A1;
    font-family: sans-serif;
    font-size: 55px;
    text-decoration: none;
    /* Ajout de bordures à gauche et à droite de chaque élément de menu (pour simuler les lignes de séparation) */
   
  }
  body > footer > nav > ul > li > a:hover,
  body > footer > nav > ul > li > a:active,
  body > footer > nav > ul > li > a:focus {
    background-color: black;
  }
  
  /* Suppression des bordures à gauche pour le 1er élément et à droite pour le dernier élément de menu. */
  body > footer > nav > ul > li:first-child > a {
    border-left: none;
  }
  body > footer > nav > ul > li:last-child > a {
    border-right: none;
  }

img{
  margin-left: 89px;
  width: 300px;
  height: 200px;
}
a{
  color: black;
  font-family: 'bebas neue';
}