<!DOCTYPE html>
<html>
<head>
    <title>Mon site web</title>
</head>
<body>
    <button id="my-button" onclick="buttonClicked()">Cliquez ici</button>
    
    <script type="text/javascript">
        function buttonClicked() {
            fetch('/button_clicked', {
                method: 'POST'
            })
            .then(function(response) {
                if (response.ok) {
                    console.log('Le bouton a été cliqué !');
                }
            })
            .catch(function(error) {
                console.log(error);
            });
        }
    </script>
</body>
</html>
