{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/waste-container.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/container-new.css') }}">
{% endblock %}

{% block content %}
<div class="div-content-site-search">
    <nav class="navbar-search">
        <div class="navbar-search-clear"></div>
        <div class="navbar-search-blur"></div>
        <h1>EXPLORER</h1>
    </nav>

    <div class="new-container">
        <a href="{{url_for('waste_new')}}" target="_self">
            <h2>Ajouter un déchet</h2>
        </a>
    </div>

    {% set enumerate = namespace() %}
    {% set enumerate.index = 1 %}

    {% for waste in wastes %}
    {% if enumerate.index % 2 == 0 %}
    {% set container = 'content-container-right' %}
    {% else %}
    {% set container = 'content-container-left' %}
    {% endif %}
    {% set enumerate.index = enumerate.index + 1 %}

    <div class="{{ container }}">
        <a href="{{ url_for('waste', waste_id=waste.id) }}" target="_self">
            <h2 class="text-container">{{ waste.name }}</h2>
            <div class="image-container">
                <img src="{{ url_for('static', filename='uploads/wastes/' + waste.name + '.png') }}" alt="Image">
            </div>
            <div style="clear:both"></div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}