<!DOCTYPE html>
<html>

<head>
    {% if title and title != "Home" %}
    <title>Ekoroji | {{ title }}</title>
    {% else %}
    <title>Ekoroji</title>
    {% endif %}

    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/logos/Ekoroji_light.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head%}{% endblock %}
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-alert-{{category}}">
                    <h2>{{ message }}</h2>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content%}{% endblock %}
    <footer>
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}" class="btn-index" target="_self">
                        <div>
                            {% if location == 'index' %}
                            <img src="{{ url_for('static', filename='assets/icons/search_2.svg') }}" alt="Icon">
                            {% else %}
                            <img src="{{ url_for('static', filename='assets/icons/search_1.svg') }}" alt="Icon">
                            {% endif %}
                        </div>
                    </a></li>
                <li><a href="{{url_for('articles')}}" class="btn-articles" target="_self">
                        <div>
                            {% if location == 'articles' %}
                            <img src="{{ url_for('static', filename='assets/icons/information_2.svg') }}" alt="Icon">
                            {% else %}
                            <img src="{{ url_for('static', filename='assets/icons/information_1.svg') }}" alt="Icon">
                            {% endif %}
                        </div>
                    </a></li>
                <li><a href="{{url_for('popular')}}" class="btn-popular" target="_self">
                        <div>
                            {% if location == 'popular' %}
                            <img src="{{ url_for('static', filename='assets/icons/community_2.svg') }}" alt="Icon">
                            {% else %}
                            <img src="{{ url_for('static', filename='assets/icons/community_1.svg') }}" alt="Icon">
                            {% endif %}
                        </div>
                    </a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>