<!DOCTYPE html>
<html>

<head>
    {% if title and title != "Home" %}
    <title>Ekoroji | {{ title }}</title>
    {% else %}
    <title>Ekoroji</title>
    {% endif %}

    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head%}{% endblock %}
</head>

<body>
    {% block content%}{% endblock %}
    <footer>
        <nav>
            <ul>
                <li><a href="/" class="btn-index">
                        <div>
                            {% if location == 'index' %}
                            <img src="{{ url_for('static', filename='assets/icons/search_2.svg') }}" alt="Icon">
                            {% else %}
                            <img src="{{ url_for('static', filename='assets/icons/search_1.svg') }}" alt="Icon">
                            {% endif %}
                        </div>
                    </a></li>
                <li><a href="/news" class="btn-news">
                        <div>
                            {% if location == 'news' %}
                            <img src="{{ url_for('static', filename='assets/icons/information_2.svg') }}" alt="Icon">
                            {% else %}
                            <img src="{{ url_for('static', filename='assets/icons/information_1.svg') }}" alt="Icon">
                            {% endif %}
                        </div>
                    </a></li>
                <li><a href="/popular" class="btn-popular">
                        <div>
                            {% if location == 'popular' %}
                            <img src="{{ url_for('static', filename='assets/icons/community_2.svg') }}" alt="Icon">
                            {% else %}
                            <img src="{{ url_for('static', filename='assets/icons/community_1.svg') }}" alt="Icon">
                            {% endif %}
                        </div>
                    </a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>