{%extends "layout.html"%}

{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/waste.css') }}">
{% endblock %}

{% block content %}
<div class="div-content-site">

    <nav class="navbar">
        <div class="navbar-clear"></div>
        <div class="navbar-blur"></div>
        <h1>{{waste.name}}</h1>
    </nav>

    <div class="image-container">
        <h2>Image</h2>
        <div class="image-refresh">
            <img src="{{ url_for('static', filename='assets/icons/Refresh_1.svg') }}" alt="Icon">
        </div>
        <img class="image-waste" src="{{ url_for('static', filename='uploads/wastes/' + waste.id + '.png') }}"
            alt="Image">
    </div>

    <div class="description-container">
        <h2>Description</h2>
        <p>
            {{waste.description}}
        </p>
        <div class="description-refresh">
            <img src="{{ url_for('static', filename='assets/icons/Refresh_1.svg') }}" alt="Icon">
        </div>
    </div>

    <div class="list_recycling_possibilitites-container">
        <h2>Recycler</h2>
        <p>
            {{waste.list_recycling_possibilitites}}
        </p>
        <div class="list_recycling_possibilitites-refresh">
            <img src="{{ url_for('static', filename='assets/icons/Refresh_1.svg') }}" alt="Icon">
        </div>
    </div>

    <div class="scroll-container-waste"></div>

</div>
{% endblock content %}