/* Import des polices Bebas Neue et Roboto depuis Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto');

body {
    background-color: #C3E6A1;
    font-family: 'Roboto', sans-serif;

}

.flash-alert-success,
.flash-alert-danger {
    position: fixed;
    width: 850px;
    min-height: 115px;
    max-height: 300px;
    left: calc(50% - 850px/2);
    top: 57.5px;
    z-index: 9999;
    box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.25);
    border-radius: 75px;
    padding: 30px;
    overflow-y: auto;
    height: auto;
}

.flash-alert-success {
    background: #446127;
}

.flash-alert-danger {
    background: #DC143C;
}

.flash-alert-success h2,
.flash-alert-danger h2 {
    position: absolute;
    left: 22px;
    right: 22px;
    top: 22px;
    bottom: 22px;
    max-width: calc(800px - 44px);
    word-wrap: break-word;
    margin: auto;
    justify-content: center;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
}

.flash-alert-success h2 {
    color: #9DE05A;
}

.flash-alert-danger h2 {
    color: #FFFCF8;
}

.navbar,
.navbar-search {
    position: fixed;
    left: 0%;
    width: 100%;
    top: 0%;
    z-index: 9998;
    margin: 0;
}

.navbar {
    height: 650px;
}

.navbar-search {
    height: 850px;
}

.navbar-clear,
.navbar-search-clear {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    background: #C3E6A1;
}

.navbar-clear {
    bottom: 20%;
}

.navbar-search-clear {
    bottom: 14.29%;
}

.navbar-blur,
.navbar-search-blur {
    position: absolute;
    left: -4.63%;
    right: -4.63%;
    bottom: 0%;
    background: #C3E6A1;
    filter: blur(25px);
}

.navbar-blur {
    top: 40%;
}

.navbar-search-blur {
    top: 57.14%;
}

.navbar h1,
.navbar-search h1 {
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 225px;
    line-height: 270px;
    color: #000000;
}

.navbar h1 {
    top: 5%;
    bottom: 5%;
}

.navbar-search h1 {
    top: 3.82%;
    bottom: 27.35%;
}

.search-container {
    position: absolute;
    left: 18.8%;
    right: 18.7%;
    top: 65.29%;
    bottom: 20%;
}

.search-bar {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #E2E4D4;
    box-shadow: 2px 5px 11px rgba(0, 0, 0, 0.25);
    border-radius: 62.5px;
    border: none;
}

.search-bar .form-input {
    position: absolute;
    left: 3.41%;
    right: 17.19%;
    top: 18.4%;
    bottom: 18.4%;
    border-radius: 62.5px;
    border: none;
    background: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #474744;
    margin: auto;
}

.search-bar .form-input:focus{
    background: #F1EFE9;
}

.search-container .search-validation {
    position: absolute;
    left: 86.22%;
    right: 4.74%;
    top: 15.6%;
    bottom: 15.6%;
    padding: 0;
}

.search-container .search-validation .btn-validation {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: none;
    border: none;
}

.search-container .search-validation img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.div-content-site {
    position: relative;
    left: 0%;
    right: 0%;
    margin-top: 765px;
    margin-bottom: 260px;
    padding-bottom: 230px;
}

.div-content-site-search {
    position: relative;
    left: 0%;
    right: 0%;
    margin-top: 965px;
    margin-bottom: 260px;
    padding-bottom: 230px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 260px;
    background: #446127;
    border-top: 1px
}

footer a {
    position: absolute;
    top: 23.08%;
    bottom: 23.08%;
}

footer ul {
    list-style: none;
}

.btn-articles {
    left: 15.28%;
    right: 71.76%;
}

.btn-index {
    left: 43.52%;
    right: 43.52%;
}

.btn-popular {
    left: 71.76%;
    right: 15.28%;
}

footer a div {
    position: absolute;
    left: 17.86%;
    right: 17.86%;
    top: 17.86%;
    bottom: 17.86%;
}


.page-container {
    position: fixed;
    height: 115px;
    left: 10.65%;
    right: 10.65%;
    bottom: 317.5px;
    background: #F1EFE9;
    box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.25);
    border-radius: 75px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.page-container a,
.page-container h2 {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.page-container a.active {
    color: #446127;
}

.page-container a.inactive,
.page-container h2 {
    color: #9DE05A;
}