.image-container,
.description-container,
.list_recycling_possibilitites-container,
.delete-waste,
.update-waste,
.details-container {
    position: absolute;
    left: 10.65%;
    right: 10.65%;
}

.image-container {
    height: 500px;
    top: 115px;
}

.description-container {
    height: 318px;
    top: 730px;
}

.details-container {
    height: 318px;
    top: 115px;
}

.list_recycling_possibilitites-container {
    min-height: 350px;
    display: inline-block;
    margin-top: 1163px;
}

.image-container h2,
.description-container h2,
.list_recycling_possibilitites-container h2,
.details-container h2 {
    position: absolute;
    height: 67px;
    left: 0px;
    top: 0px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;

    color: #000000;
}

.image-container h2 {
    width: 123px;
}

.description-container h2,
.list_recycling_possibilitites-container h2,
.details-container h2 {
    width: 253px;
}

.list_recycling_possibilitites-refresh {
    position: absolute;
    width: 235px;
    background: #446127;
    border-radius: 75px;
    display: flex;
    justify-content: center;
}

.list_recycling_possibilitites-refresh {
    right: 0px;
    top: 0%;
    bottom: 0%;
}

.list_recycling_possibilitites-refresh img {
    align-self: center;
    position: absolute;
    width: 40%;
    max-width: 136px;
    max-height: 150px;
    border-radius: 0;
}

.image-waste {
    position: absolute;
    left: 41.18%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 150px;
}

.description-container p,
.details-container p {
    left: 0%;
    right: 0%;
    top: 39.31%;
    bottom: 0%;
}

.list_recycling_possibilitites-container p {
    left: 0%;
    right: 41.53%;
    top: 39.31%;
    bottom: 0%;
}

.description-container p,
.list_recycling_possibilitites-container p,
.details-container p {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: justify;
    line-height: 35px;
    color: #474744;
}

.update-waste,
.delete-waste {
    height: 300px;
    filter: drop-shadow(8px 8px 10px #474744);
    text-decoration: none;
    box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.25);
    border-radius: 75px;
}

.update-waste {
    top: 1627px;
    background: #446127;
}

.delete-waste {
    top: 2039px;
    background: #DC143C;
}

.delete-waste h2,
.update-waste h2 {
    position: absolute;
    left: 2.94%;
    right: 2.94%;
    top: 38.67%;
    bottom: 39%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;

}

.delete-waste h2 {
    color: #FFFCF8;
}

.update-waste h2 {
    color: #9DE05A;
}

.back-container {
    position: fixed;
    width: 115px;
    height: 115px;
    left: 115px;
    bottom: 375px;
    background: #446127;
    box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.25);
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-container img {
    height: 55%;
}

.scroll-container-waste {
    position: absolute;
    width: 100%;
    height: 375px;
    left: 0px;
    top: 2343px;
}