.content-container-right,
.content-container-left {
    filter: drop-shadow(8px 8px 10px #474744);
    width: 34.03%;
    height: 467px;
    margin-top: 115px;
    display: inline-block;
    text-decoration: none;
    background: #F1EFE9;
    box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.25);
    border-radius: 75px;
    vertical-align: top;
    box-sizing: border-box;
}

.content-container-right {
    margin-left: 10.65%;
    margin-right: 55.32%;
}

.content-container-left {
    margin-left: 55.32%;
    margin-right: 10.65%;
}

.text-container {
    position: absolute;
    left: 0%;
    right: 0.14%;
    top: 10.71%;
    bottom: 78.59%;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
}

.image-container {
    position: absolute;
    left: 13.86%;
    right: 13.59%;
    top: 32.12%;
    bottom: 10.71%;
    background: #FFFCF8;
    border-radius: 75px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 75px;
}