{% extends "base.html" %}

{% block content %}

  <h1>Ajouter une tâche</h1>

  <form method="POST" action="{{ url_for('add') }}">
    <div>
      <label>Titre :</label>
      <input type="text" name="title" required>
    </div>
    <div>
      <label>Description :</label>
      <textarea name="description" required></textarea>
    </div>
    <div>
      <label>Date d'échéance :</label>
      <input type="datetime-local" name="due_date" required>
    </div>
    <div>
      <button type="submit">Ajouter</button>
    </div>
  </form>

{% endblock %}
