{%extends "layout.html"%}

{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new-update.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/waste.css') }}">
{% endblock %}

{% block content %}
<div class="div-content-site">

    <nav class="navbar">
        <div class="navbar-clear"></div>
        <div class="navbar-blur"></div>
        <h1>{{ legend}}</h1>
    </nav>

    <form method="POST" , action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-container">
            <dir class="form-container-1">
                {{ form.waste_name.label(class="form-label") }}
                {% if form.waste_name.errors %}
                {{ form.waste_name(class="form-input") }}
                <div class="error-message">
                    {% for error in form.waste_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>

                {% else %}
                {{ form.waste_name(class="form-input") }}

                {% endif %}

            </dir>
        </fieldset>
        <dir class="validation-container-2">
            {{form.waste_validated(class="btn-validation")}}
        </dir>
    </form>

    <div class="scroll-container-3"></div>

    {% if legend == "Modifier" %}
    <a class="back-container" href="{{ url_for('wastes.waste', waste_id=waste.id) }}" target="_self">
        <img src="{{ url_for('static', filename='assets/icons/back_0.svg') }}" alt="back">
    </a>
    {% endif %}
</div>
{% endblock content %}